{% extends 'navbar.html' %}
{% block title %}Index{% endblock %}
{% block meta %}
    <meta name="description" content="BAE Stuffz"/>
    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Open Sans;
        font-size: 18px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.55;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"
      data-tag="font"
    />
    <style>
      html {
      scroll-behavior: smooth;
      }
    </style>
    <script>
        function showOrHideErrorField() {
            let params = new URLSearchParams(window.location.search);

            let hasErrorOccurred = params.get("error");
            let errorMessage = params.get("error_message");

            var errorLabel = document.getElementById("error_label");

            if(hasErrorOccurred == "1") {
                errorLabel.style.display = "block";
                errorLabel.textContent = errorMessage;
            } else {
                errorLabel.style.display = "none";
            }
        }
    </script>
{% endblock %}
{% block body %}
    {{ super() }}
    <script>
        window.onload = showOrHideErrorField;
    </script>
    <link rel="stylesheet" href="./style.css" />
    <div>
      <link href="./benutzer-anlegen.css" rel="stylesheet" />

      <div class="benutzer-anlegen-container">
          <h1 class="benutzer-anlegen-text" style="margin-left: 90px">Kundenerfassung</h1>
          <div class="hc" style="padding: 100px">
              <div class="vc">
                <div class="benutzer-anlegen-banner vc"></div>
                  <label id="error_label" style="color: red; margin-bottom: 30px"></label>
                  <form action="/api/v1/create_customer" method="POST" class="vc" style="align-items: flex-start">
                      <div class="hc" style="margin-bottom: 20px">
                        <label
                          style="margin-right: 20px;
                          font-size: 20px;
                          width: 200px"
                        >
                          Name<b>*</b>
                        </label>
                        <input
                          type="text"
                          placeholder="Musterkunde"
                          class="benutzer-anlegen-textinput03 input"
                          id="input_name"
                          name="input_name"
                          onmouseover="color='#87CEFAFF'"
                        />
                      </div>
                      <div class="hc" style="margin-bottom: 20px">
                        <label
                          style="margin-right: 20px;
                          font-size: 20px;
                          width: 200px"
                        >
                          Straße<b>*</b>
                        </label>
                        <input
                          type="text"
                          placeholder="Musterstraße"
                          class="benutzer-anlegen-textinput02 input"
                          id="input_street"
                          name="input_street"
                          onmouseover="color='#87CEFAFF'"
                        />
                      </div>
                      <div class="hc" style="margin-bottom: 20px">
                        <label
                          style="margin-right: 20px;
                          font-size: 20px;
                          width: 200px"
                        >
                          Hausnummer<b>*</b>
                        </label>
                        <input
                          type="text"
                          placeholder="00"
                          class="benutzer-anlegen-textinput05 input"
                          id="input_house_number"
                          name="input_house_number"
                          onmouseover="color='#87CEFAFF'"
                        />
                      </div>
                      <div class="hc" style="margin-bottom: 20px">
                        <label
                          style="margin-right: 20px;
                          font-size: 20px;
                          width: 200px"
                        >
                          Stadt<b>*</b>
                        </label>
                        <input
                          type="text"
                          placeholder="Musterstadt"
                          class="benutzer-anlegen-textinput07 input"
                          id="input_city"
                          name="input_city"
                          onmouseover="color='#87CEFAFF'"
                        />
                      </div>
                      <div class="hc" style="margin-bottom: 20px">
                        <label
                          style="margin-right: 20px;
                          font-size: 20px;
                          width: 200px"
                        >
                          PLZ<b>*</b>
                        </label>
                        <input
                          type="text"
                          placeholder="00000"
                          class="benutzer-anlegen-textinput01 input"
                          id="input_plz"
                          name="input_plz"
                          onmouseover="color='#87CEFAFF'"
                        />
                      </div>
                      <div class="hc" style="margin-bottom: 20px">
                        <label
                          style="margin-right: 20px;
                          font-size: 20px;
                          width: 200px"
                        >
                          Land<b>*</b>
                        </label>
                        <input
                          type="text"
                          placeholder="Musterland"
                          class="benutzer-anlegen-textinput06 input"
                          style="margin-bottom: 20px"
                          id="input_country"
                          name="input_country"
                          onmouseover="color='#87CEFAFF'"
                        />
                      </div>
                      <div class="hc" style="margin-bottom: 20px">
                          <label
                              style="margin-right: 20px;
                              font-size: 20px;
                              width: 200px"
                          >
                              Bundesland/Staat<b>*</b>
                          </label>
                          <input
                              type="text"
                              placeholder="Musterstaat"
                              class="benutzer-anlegen-textinput08 input"
                              id="input_state"
                              name="input_state"
                          />
                      </div>
                      <button type="submit" value="create_customer" class="benutzer-anlegen-button button">
                            Kunde anlegen
                      </button>
                  </form>
              </div>
              <img
                  alt="image"
                  src="https://s-i.huffpost.com/gen/1782747/images/o-STRONG-HANDSHAKE-facebook.jpg"
                  class="benutzer-anlegen-image"
                  style="margin-left: 250px"
                  width="800"
                  height="300"
              />
          </div>
      </div>
    </div>
    <script src="https://unpkg.com/@teleporthq/teleport-custom-scripts"></script>
{% endblock %}