{% extends 'navbar.html' %}
{% block title %}Index{% endblock %}
{% block meta %}
    <meta name="description" content="BAE Stuffz"/>
    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Open Sans;
        font-size: 18px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.55;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"
      data-tag="font"
    />
    <style>
      html {
      scroll-behavior: smooth;
      }
    </style>
    <script>
        function showOrHideErrorField() {
            let params = new URLSearchParams(window.location.search);

            let hasErrorOccurred = params.get("error");
            let errorMessage = params.get("error_message");

            var errorLabel = document.getElementById("error_label");

            if(hasErrorOccurred == "1") {
                errorLabel.style.display = "block";
                errorLabel.textContent = errorMessage;
            } else {
                errorLabel.style.display = "none";
            }
        }
    </script>
{% endblock %}
{% block body %}
    {{ super() }}
    <script>
        window.onload = showOrHideErrorField;
    </script>
    <link rel="stylesheet" href="./style.css" />
    <div>
      <link href="./benutzer-anlegen.css" rel="stylesheet" />

      <div class="benutzer-anlegen-container">
          <h1 class="benutzer-anlegen-text" style="margin-left: 90px">Projekterfassung</h1>
          <div class="hc" style="padding: 100px">
              <div class="vc">
                <div class="benutzer-anlegen-banner vc"></div>
                  <label id="error_label" style="color: red; margin-bottom: 30px"></label>
                  <form action="/api/v1/create_project" method="POST" class="vc" style="align-items: flex-start">
                      <div class="hc" style="margin-bottom: 20px"  title="Der Kunde, für welchen das Projekt laufen soll!">
                        <label
                          style="margin-right: 20px;
                          font-size: 20px;
                          width: 200px"
                        >
                          Kunde<b>*</b>
                        </label>
                        <select
                          type="text"
                          class="benutzer-anlegen-textinput05 input"
                          id="input_customer_id"
                          name="input_customer_id"
                        >
                        </select>
                      </div>
                      <div class="hc" style="margin-bottom: 20px"  title="Das Startdatum des Projekts. Dieses muss vor dem voraussichtlichen Enddatum liegen!">
                        <label
                          style="margin-right: 20px;
                          font-size: 20px;
                          width: 200px"
                        >
                          Projektbeginn<b>*</b>
                        </label>
                        <input
                          type="date"
                          class="benutzer-anlegen-textinput01 input"
                          id="input_project_begin"
                          name="input_project_begin"
                        />
                      </div>
                      <div class="hc" style="margin-bottom: 20px"  title="Das voraussichtliche Projektende. Dieses muss nach dem Startdatum liegen!">
                        <label
                          style="margin-right: 20px;
                          font-size: 20px;
                          width: 200px"
                        >
                          voraussichtl. Projektende<b>*</b>
                        </label>
                        <input
                          type="date"
                          class="benutzer-anlegen-textinput02 input"
                          id="input_project_end"
                          name="input_project_end"
                        />
                      </div>
                      <div class="hc" style="margin-bottom: 20px"  title="Das Projektbudget in Euro!">
                        <label
                          style="margin-right: 20px;
                          font-size: 20px;
                          width: 200px"
                        >
                          Budget (in €)<b>*</b>
                        </label>
                        <input
                          type="text"
                          placeholder="0000"
                          class="benutzer-anlegen-textinput03 input"
                          id="input_budget"
                          name="input_budget"
                        />
                      </div>
                      <div class="hc" style="margin-bottom: 20px"  title="Die Priorität des Projektes!">
                        <label
                          style="margin-right: 20px;
                          font-size: 20px;
                          width: 200px"
                        >
                          Priorität<b>*</b>
                        </label>
                        <select
                          type="text"
                          class="benutzer-anlegen-textinput05 input"
                          id="input_priority"
                          name="input_priority"
                        >
                            <option value="0">Low</option>
                            <option value="1">Medium</option>
                            <option value="2">High</option>
                        </select>
                      </div>
                      <button type="submit" value="create_project" class="benutzer-anlegen-button button">
                        Projekt anlegen
                      </button>
                  </form>
              </div>
              <img
                  alt="image"
                  src="https://images.unsplash.com/photo-1508873535684-277a3cbcc4e8?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDU5fHxwcm9qZWN0fGVufDB8fHx8MTY5OTUyNzk5OHww&amp;ixlib=rb-4.0.3&amp;w=600"
                  class="benutzer-anlegen-image"
                  style="margin-left: 250px; box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);"
                  width="800"
                  height="300"
              />
          </div>
      </div>
    </div>
    <script>
        function loadCustomerData()
        {
            fetch('/api/v1/customer_list', {
                method: 'GET',
                headers: {'Content-Type': 'application/json'}
            }).then(res => res.json()).then(customer => {
                $.each(customer, function (){
                    let customerId = this[0]
                    let customerName = this[1]

                    let optionElement = document.createElement("option")
                    optionElement.setAttribute("value", customerId)
                    optionElement.innerText = customerName

                    document.getElementById("input_customer_id").appendChild(optionElement)
                })
            })
        }

        loadCustomerData()
    </script>
{% endblock %}