{% extends 'navbar.html' %}
{% block title %}Index{% endblock %}
{% block meta %}
    <meta name="description" content="BAE Stuffz"/>
    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Open Sans;
        font-size: 18px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.55;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"
      data-tag="font"
    />
    <style>
      html {
      scroll-behavior: smooth;
      }
    </style>
    <script>
        function loadPage()
        {
            showOrHideErrorField()
            editModeInitialization()
        }

        function editModeInitialization()
        {
            let params = new URLSearchParams(window.location.search);

            let inEditMode = params.get("edit");
            let id = params.get("id");

            if(inEditMode == "1") {

                fetch('/api/v1/edit_user_data/' + id, {
                method: 'GET',
                headers: {'Content-Type': 'application/json'}
            }).then(res => res.json()).then(jsonRes => {
                    let streetName = jsonRes[0];
                    let houseNumber = jsonRes[1];
                    let cityName = jsonRes[2];
                    let postCode = jsonRes[3];
                    let country = jsonRes[4];
                    let state = jsonRes[5];
                    let titel = jsonRes[6];
                    let position = jsonRes[7];
                    let gender = jsonRes[8];
                    let birthDate = jsonRes[9];
                    let firstName = jsonRes[10];
                    let lastName = jsonRes[11];
                    let saleryPerHour = jsonRes[12];
                    let role = jsonRes[13];
                    let username = jsonRes[14];
                    let password = jsonRes[15];
                    let informations = jsonRes[16];

                    document.getElementById("headline").innerText = "Benutzerbearbeitung für Benutzer mit Id '" + id + "'";

                    document.getElementById("input_street").value = streetName;
                    document.getElementById("input_house_number").value = houseNumber;
                    document.getElementById("input_city").value = cityName;
                    document.getElementById("input_PLZ").value = postCode;
                    document.getElementById("input_country").value = country;
                    document.getElementById("input_state").value = state;
                    document.getElementById("input_title").value = titel;
                    document.getElementById("input_job_position").value = position;
                    document.getElementById("input_gender").value = gender;
                    document.getElementById("input_birth_date").value = (new Date(birthDate)).toISOString().substring(0, 10);
                    document.getElementById("input_first_name").value = firstName;
                    document.getElementById("input_last_name").value = lastName;
                    document.getElementById("input_salery_per_hour").value = saleryPerHour;
                    document.getElementById("input_role").value = role;
                    document.getElementById("input_username").value = username;
                    document.getElementById("input_password").value = password;
                    document.getElementById("input_informations").value = informations;

                    document.getElementById("submitButton").innerText = "Bearbeiten";
                    document.getElementById("submitButton").setAttribute("value", "update_user/" + id);
                    document.getElementById("submit_form").setAttribute("action", "/api/v1/update_user/" + id);
                })
            }
        }

        function showOrHideErrorField() {
            let params = new URLSearchParams(window.location.search);

            let hasErrorOccurred = params.get("error");
            let errorMessage = params.get("error_message");

            var errorLabel = document.getElementById("error_label");

            if(hasErrorOccurred == "1") {
                errorLabel.style.display = "block";
                errorLabel.textContent = errorMessage;
            } else {
                errorLabel.style.display = "none";
            }
        }
    </script>
{% endblock %}
{% block body %}
    {{ super() }}
    <script>
        window.onload = loadPage;
    </script>
    <div>
      <link href="/static/css/benutzer-anlegen.css" rel="stylesheet" />

      <div class="benutzer-anlegen-container">
          <h1 class="benutzer-anlegen-text" style="margin-left: 90px" id="headline">Benutzererfassung</h1>
          <div class="hc" style="padding: 100px">
              <div class="vc">
                <div class="benutzer-anlegen-banner vc" style="align-items: flex-start"></div>
                  <label id="error_label" style="color: red; margin-bottom: 30px"></label>
                  <form action="/api/v1/create_user" method="POST" class="vc" style="align-items: flex-start" id="submit_form">
                      <div class="hc" style="margin-bottom: 20px" title="Der Name der Straße, in welcher der Mitarbeiter wohnt!">
                          <label
                              style="margin-right: 20px;
                              font-size: 20px;
                              width: 200px"
                          >
                              Straße<b>*</b>
                          </label>
                          <input
                              type="text"
                              placeholder="Musterstraße"
                              class="benutzer-anlegen-textinput input"
                              id="input_street"
                              name="input_street"
                          />
                      </div>
                      <div class="hc" style="margin-bottom: 20px" title="Die Hausnummer des Hauses, in welchem der Mitarbeiter wohnt!">
                          <label
                              style="margin-right: 20px;
                              font-size: 20px;
                              width: 200px"
                          >
                              Hausnummer<b>*</b>
                          </label>
                          <input
                              type="text"
                              placeholder="01"
                              class="benutzer-anlegen-textinput input"
                              id="input_house_number"
                              name="input_house_number"
                          />
                      </div>
                      <div class="hc" style="margin-bottom: 20px" title="Der Name der Stadt, in welcher der Mitarbeiter wohnt!">
                          <label
                              style="margin-right: 20px;
                              font-size: 20px;
                              width: 200px"
                          >
                              Stadt<b>*</b>
                          </label>
                          <input
                              type="text"
                              placeholder="Musterstadt"
                              class="benutzer-anlegen-textinput02 input"
                              id="input_city"
                              name="input_city"
                          />
                      </div>
                      <div class="hc" style="margin-bottom: 20px" title="Die Postleitzahl der Stadt, in welcher der Mitarbeiter wohnt! (Darf nur ein numerischer Wert sein)">
                          <label
                              style="margin-right: 20px;
                              font-size: 20px;
                              width: 200px"
                          >
                              PLZ<b>*</b>
                          </label>
                          <input
                              type="text"
                              placeholder="00000"
                              class="benutzer-anlegen-textinput03 input"
                              id="input_PLZ"
                              name="input_PLZ"
                          />
                      </div>
                      <div class="hc" style="margin-bottom: 20px" title="Der Name des Landes, in welchem der Mitarbeiter wohnt!">
                          <label
                              style="margin-right: 20px;
                              font-size: 20px;
                              width: 200px"
                          >
                              Land<b>*</b>
                          </label>
                          <input
                              type="text"
                              placeholder="Musterland"
                              class="benutzer-anlegen-textinput08 input"
                              id="input_country"
                              name="input_country"
                          />
                      </div>
                      <div class="hc" style="margin-bottom: 20px" title="Der Name des Bundeslandes/Staates, in welchem der Mitarbeiter wohnt!">
                          <label
                              style="margin-right: 20px;
                              font-size: 20px;
                              width: 200px"
                          >
                              Bundesland/Staat<b>*</b>
                          </label>
                          <input
                              type="text"
                              placeholder="Musterstaat"
                              class="benutzer-anlegen-textinput08 input"
                              id="input_state"
                              name="input_state"
                          />
                      </div>
                      <div class="hc" style="margin-bottom: 20px" title="Der Titel des Mitarbeiters (Falls er einen haben sollte)!">
                          <label
                              style="margin-right: 20px;
                              font-size: 20px;
                              width: 200px"
                          >
                              Titel
                          </label>
                          <input
                              type="text"
                              placeholder="Mustertitel"
                              class="benutzer-anlegen-textinput01 input"
                              id="input_title"
                              name="input_title"
                          />
                      </div>
                      <div class="hc" style="margin-bottom: 20px" title="Der Name der Position/des Jobs des Mitarbeiters!">
                          <label
                              style="margin-right: 20px;
                              font-size: 20px;
                              width: 200px"
                          >
                              Berufsposition<b>*</b>
                          </label>
                          <input
                              type="text"
                              placeholder="Musterjob"
                              class="benutzer-anlegen-textinput04 input"
                              id="input_job_position"
                              name="input_job_position"
                          />
                      </div>
                      <div class="hc" style="margin-bottom: 20px" title="Das Geschlecht des Mitarbeiters! (Relevant für Anrede. Bei 'männlich': 'Herr'; bei 'weiblich': 'Frau' und bei 'divers' wird die Anrede ignoriert!">
                          <label
                              style="margin-right: 20px;
                              font-size: 20px;
                              width: 200px"
                          >
                              Geschlecht<b>*</b>
                          </label>
                          <select
                          type="text"
                          class="benutzer-anlegen-textinput05 input"
                          id="input_gender"
                          name="input_gender"
                        >
                            <option value="M">männlich</option>
                            <option value="F">weiblich</option>
                            <option value="D">divers</option>
                        </select>
                      </div>
                      <div class="hc" style="margin-bottom: 20px" title="Das Geburtsdatum des Mitarbeiters!">
                          <label
                              style="margin-right: 20px;
                              font-size: 20px;
                              width: 200px"
                          >
                              Geburtsdatum<b>*</b>
                          </label>
                          <input
                              type="date"
                              class="benutzer-anlegen-textinput06 input"
                              id="input_birth_date"
                              name="input_birth_date"
                          />
                      </div>
                      <div class="hc" style="margin-bottom: 20px" title="Der vollständige Vorname des Mitarbeiters!">
                          <label
                              style="margin-right: 20px;
                              font-size: 20px;
                              width: 200px"
                          >
                              Vorname<b>*</b>
                          </label>
                          <input
                              type="text"
                              placeholder="Hans"
                              class="benutzer-anlegen-textinput09 input"
                              id="input_first_name"
                              name="input_first_name"
                          />
                      </div>
                      <div class="hc" style="margin-bottom: 20px" title="Der vollständige Nachname des Mitarbeiters!">
                          <label
                              style="margin-right: 20px;
                              font-size: 20px;
                              width: 200px"
                          >
                              Nachname<b>*</b>
                          </label>
                          <input
                              type="text"
                              placeholder="Mustermann"
                              class="benutzer-anlegen-textinput09 input"
                              id="input_last_name"
                              name="input_last_name"
                          />
                      </div>
                      <div class="hc" style="margin-bottom: 20px" title="Der Stundenlohn des Mitarbeiters gerechnet in Euro! (Kommasepariert über '.'!">
                          <label
                              style="margin-right: 20px;
                              font-size: 20px;
                              width: 200px"
                          >
                              Gehalt/Std.<b>*</b>
                          </label>
                          <input
                              type="text"
                              placeholder="1.0"
                              class="benutzer-anlegen-textinput10 input"
                              id="input_salery_per_hour"
                              name="input_salery_per_hour"
                          />
                      </div>
                      <div class="hc" style="margin-bottom: 20px" title="Die Rolle des Mitarbeiters. Diese regelt das Berechtigungsmanagement der Anwendung!">
                          <label
                              style="margin-right: 20px;
                              font-size: 20px;
                              width: 200px"
                          >
                              Rolle<b>*</b>
                          </label>
                          <select
                          type="text"
                          class="benutzer-anlegen-textinput05 input"
                          id="input_role"
                          name="input_role"
                        >
                            <option value="1">Mitarbeiter</option>
                            <option value="2">CEO</option>
                            <option value="3">Systemadministrator</option>
                        </select>
                      </div>
                      <div class="hc" style="margin-bottom: 20px" title="Der Nutzername des Mitarbeiters. Dieser wird für den Login in die Anwendung verwendet!">
                          <label
                              style="margin-right: 20px;
                              font-size: 20px;
                              width: 200px"
                          >
                              Nutzername<b>*</b>
                          </label>
                          <input
                              type="text"
                              placeholder="max_mustermann01"
                              class="benutzer-anlegen-textinput10 input"
                              id="input_username"
                              name="input_username"
                          />
                      </div>
                      <div class="hc" style="margin-bottom: 20px" title="Das Passwort des Mitarbeiteraccounts!">
                          <label
                              style="margin-right: 20px;
                              font-size: 20px;
                              width: 200px"
                          >
                              Passwort<b>*</b>
                          </label>
                          <input
                              type="password"
                              class="benutzer-anlegen-textinput10 input"
                              id="input_password"
                              name="input_password"
                          />
                      </div>
                      <div class="hc" style="margin-bottom: 20px" title="Allgemeine Informationen zum Mitarbeiter!">
                          <label
                              style="margin-right: 20px;
                              font-size: 20px;
                              width: 200px"
                          >
                              Zusätzliche Informationen
                          </label>
                          <textarea
                              placeholder="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed..."
                              class="benutzer-anlegen-textarea textarea"
                              id="input_informations"
                              name="input_informations"
                          >
                          </textarea>
                      </div>
                      <button type="submit" value="create_user" class="benutzer-anlegen-button button" id="submitButton">
                          Benutzer anlegen
                      </button>
                  </form>
              </div>
                   <style>
                        .benutzer-anlegen-button {
                            background-color: #3498db;
                            color: #fff;
                            padding: 10px 20px;
                            border: none;
                            cursor: pointer;
                            transition: background-color 0.3s;
                        }

                        .benutzer-anlegen-button:hover {
                            background-color: #2980b9;
                        }

                        .benutzer-anlegen-button:active {
                            background-color: #1c688b;
                        }
                    </style>
              <img
                  alt="image"
                  src="https://images.unsplash.com/uploads/141103282695035fa1380/95cdfeef?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDM1fHxzeXN0ZW0lMjBhZG1pbnxlbnwwfHx8fDE2OTk1MjgzOTB8MA&amp;ixlib=rb-4.0.3&amp;w=700"
                  class="benutzer-anlegen-image"
                  style="margin-left: 250px; box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);"
                  width="800"
                  height="300"
              />
          </div>
      </div>
    </div>
    <script src="https://unpkg.com/@teleporthq/teleport-custom-scripts"></script>
{% endblock %}