{% extends 'navbar.html' %}
{% block title %}Index{% endblock %}
{% block meta %}
    <meta name="description" content="BAE Stuffz"/>
    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Open Sans;
        font-size: 18px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.55;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"
      data-tag="font"
    />
    <style>
      html {
      scroll-behavior: smooth;
      }
    </style>
{% endblock %}
{% block body %}
    {{ super() }}
    <link rel="stylesheet" href="./style.css" />
    <div>
      <link href="./benutzer-anlegen.css" rel="stylesheet" />

      <div class="benutzer-anlegen-container">
          <h1 class="benutzer-anlegen-text" style="margin-left: 90px">Benutzererfassung</h1>
          <div class="hc" style="padding: 100px">
              <div class="vc">
                <div class="benutzer-anlegen-banner"></div>
                  <form action="/api/v1/create_user" method="POST">
                        <input
                          type="text"
                          placeholder="Straße"
                          class="benutzer-anlegen-textinput input"
                          style="margin-bottom: 20px"
                          id="input_street"
                          name="input_street"
                        />
                        <input
                          type="text"
                          placeholder="Hausnummer"
                          class="benutzer-anlegen-textinput input"
                          style="margin-bottom: 20px"
                          id="input_house_number"
                          name="input_house_number"
                        />
                        <input
                          type="text"
                          placeholder="Stadt"
                          class="benutzer-anlegen-textinput02 input"
                          style="margin-bottom: 20px"
                          id="input_city"
                          name="input_city"
                        />
                        <input
                          type="text"
                          placeholder="PLZ"
                          class="benutzer-anlegen-textinput03 input"
                          style="margin-bottom: 20px"
                          id="input_PLZ"
                          name="input_PLZ"
                        />
                        <input
                          type="text"
                          placeholder="Land"
                          class="benutzer-anlegen-textinput08 input"
                          style="margin-bottom: 20px"
                          id="input_country"
                          name="input_country"
                        />
                        <input
                          type="text"
                          placeholder="Titel"
                          class="benutzer-anlegen-textinput01 input"
                          style="margin-bottom: 20px"
                          id="input_title"
                          name="input_title"
                        />
                        <input
                          type="text"
                          placeholder="Berufsposition"
                          class="benutzer-anlegen-textinput04 input"
                          style="margin-bottom: 20px"
                          id="input_job_position"
                          name="input_job_position"
                        />
                        <input
                          type="text"
                          placeholder="Geschlecht"
                          class="benutzer-anlegen-textinput05 input"
                          style="margin-bottom: 20px"
                          id="input_gender"
                          name="input_gender"
                        />
                        <input
                          type="text"
                          placeholder="Geburtsdatum"
                          class="benutzer-anlegen-textinput06 input"
                          style="margin-bottom: 20px"
                          id="input_birth_date"
                          name="input_birth_date"
                        />
                        <input
                          type="text"
                          placeholder="Vorname"
                          class="benutzer-anlegen-textinput09 input"
                          style="margin-bottom: 20px"
                          id="input_first_name"
                          name="input_first_name"
                        />
                        <input
                          type="text"
                          placeholder="Nachname"
                          class="benutzer-anlegen-textinput09 input"
                          style="margin-bottom: 20px"
                          id="input_last_name"
                          name="input_last_name"
                        />
                        <input
                          type="text"
                          placeholder="Gehalt/Std."
                          class="benutzer-anlegen-textinput10 input"
                          style="margin-bottom: 20px"
                          id="input_salery_per_hour"
                          name="input_salery_per_hour"
                        />
                      <input
                          type="text"
                          placeholder="Rolle"
                          class="benutzer-anlegen-textinput10 input"
                          style="margin-bottom: 20px"
                          id="input_role"
                          name="input_role"
                        />
                      <input
                          type="text"
                          placeholder="Nutzername"
                          class="benutzer-anlegen-textinput10 input"
                          style="margin-bottom: 20px"
                          id="input_username"
                          name="input_username"
                        />
                      <input
                          type="password"
                          placeholder="Passwort"
                          class="benutzer-anlegen-textinput10 input"
                          style="margin-bottom: 20px"
                          id="input_password"
                          name="input_password"
                        />
                        <textarea
                          placeholder="Zusätzliche Informationen"
                          class="benutzer-anlegen-textarea textarea"
                          style="margin-bottom: 40px"
                          id="input_informations"
                          name="input_informations"
                        ></textarea>
                        <button type="submit" value="create_user" class="benutzer-anlegen-button button">
                            Benutzer anlegen
                        </button>
                  </form>
              </div>
              <img
                  alt="image"
                  src="https://images.unsplash.com/uploads/141103282695035fa1380/95cdfeef?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDM1fHxzeXN0ZW0lMjBhZG1pbnxlbnwwfHx8fDE2OTk1MjgzOTB8MA&amp;ixlib=rb-4.0.3&amp;w=700"
                  class="benutzer-anlegen-image"
                  style="margin-left: 250px"
                  width="800"
                  height="300"
              />
          </div>
      </div>
    </div>
    <script src="https://unpkg.com/@teleporthq/teleport-custom-scripts"></script>
{% endblock %}