{% extends 'navbar.html' %}
{% block title %}Index{% endblock %}
{% block meta %}
    <meta name="description" content="BAE Stuffz"/>

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Open Sans;
        font-size: 18px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.55;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"
      data-tag="font"
    />
    <style>
      html {
      scroll-behavior: smooth;
      }
    </style>
{% endblock %}
{% block body %}
    {{ super() }}
    <div class="mitarbeiterbersicht-projekte-testimonial-card">
          <div class="mitarbeiterbersicht-projekte-profile">
            <img
              alt="John Doe"
              src="https://images.unsplash.com/photo-1461938337379-4b537cd2db74?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDIzfHxoYW5kd2Vya2VyfGVufDB8fHx8MTY5OTUzMzU3M3ww&amp;ixlib=rb-4.0.3&amp;w=200"
              loading="eager"
              class="mitarbeiterbersicht-projekte-image"
              style="box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);"
            />
            <div class="mitarbeiterbersicht-projekte-container1">
                <span class="mitarbeiterbersicht-projekte-text-main-page" id="label_user_full_name">LABEL_USER_FULL_NAME</span>
                <span class="mitarbeiterbersicht-projekte-text1-main-page" id="label_user_position"><I>LABEL_USER_POSITION</I></span>
              <span class="mitarbeiterbersicht-projekte-text2-main-page" id="label_user_id">LABEL_USER_ID</span>
            </div>
          </div>
    </div>
    <button class="cssbuttons-io-button" style="
      position: absolute;
      top: 350px;
      left: 100px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);"
      onclick="fillProjectTable()"
    >
      Projektübersicht
      <div class="icon">
        <svg
          height="24"
          width="24"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M0 0h24v24H0z" fill="none"></path>
          <path
            d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
            fill="currentColor"
          ></path>
        </svg>
      </div>
    </button>
    <button class="cssbuttons-io-button2" style="
      position: absolute;
      top: 350px;
      left: 400px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    ">
      Benutzerübersicht
      <div class="icon2">
        <svg
          height="24"
          width="24"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M0 0h24v24H0z" fill="none"></path>
          <path
            d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
            fill="currentColor"
          ></path>
        </svg>
      </div>
    </button>
    <button class="cssbuttons-io-button3" style="
      position: absolute;
      top: 350px;
      left: 700px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    ">
      Kundenübersicht
      <div class="icon3">
        <svg
          height="24"
          width="24"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M0 0h24v24H0z" fill="none"></path>
          <path
            d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
            fill="currentColor"
          ></path>
        </svg>
      </div>
    </button>
    <h1 class="mitarbeiterbersicht-projekte-text3">
      Individuelle Projektübersicht
    </h1>
    <table class="mitarbeiterbersicht-projekte-textIchHasseMeinLeben styled-table" id="project_table">
        <thread id="project_table_hread">
        </thread>
        <tbody id="project_table_body">
        </tbody>
    </table>
    <div style="height: 800px"></div>
    <script defer>
        function fillProjectTable()
        {
            fetch('/api/v1/project_list', {
            method: 'GET',
            headers: {'Content-Type': 'application/json'}
        }).then(res => res.json()).then(jsonRes => {
            let new_thread = document.createElement('tbody');

            let new_tbody = document.createElement('tbody');
            new_tbody.setAttribute("id", "project_table_body");

            let element_tablerow = document.createElement("tr")

            let element_projectId = document.createElement("th")
            let element_customer = document.createElement("th")
            let element_startDate = document.createElement("th")
            let element_endingDate = document.createElement("th")
            let element_budget = document.createElement("th")
            let element_priority = document.createElement("th")

            element_projectId.innerText = "Projekt-ID"
            element_customer.innerText = "Kunde"
            element_startDate.innerText = "Startdatum"
            element_endingDate.innerText = "Enddatum"
            element_budget.innerText = "Budget"
            element_priority.innerText = "Priorität"

            element_tablerow.appendChild(element_projectId)
            element_tablerow.appendChild(element_customer)
            element_tablerow.appendChild(element_startDate)
            element_tablerow.appendChild(element_endingDate)
            element_tablerow.appendChild(element_budget)
            element_tablerow.appendChild(element_priority)

            new_thread.appendChild(element_tablerow);

            let newTable = document.createElement("table");
            newTable.setAttribute("class", "mitarbeiterbersicht-projekte-textIchHasseMeinLeben styled-table");
            newTable.setAttribute("id", "project_table");

            newTable.appendChild(new_thread);
            newTable.appendChild(new_tbody);

            $.each(jsonRes, function() {
                 let temp = this
                 let newRow = document.createElement("tr")
                 $.each(temp, function(){
                     let newCell = document.createElement("td")
                     newCell.innerText = this
                     newRow.appendChild(newCell)
                 })
                 new_tbody.appendChild(newRow)
            });

            document.getElementById("project_table").parentNode.replaceChild(newTable, document.getElementById("project_table"));
        })
        }

        function setUserLabels()
        {
            fetch('/api/v1/user_main_page_data', {
                method: 'GET',
                headers: {'Content-Type': 'application/json'}
            }).then(res => res.json()).then(dictionary => {
                document.getElementById("label_user_full_name").innerText = dictionary["userFullName"];
                document.getElementById("label_user_position").innerText = dictionary["userTitel"];
                document.getElementById("label_user_id").innerText = "UserID: " + dictionary["userId"];

                document.getElementById("label_user_full_name").style.fontWeight = "bold";
                document.getElementById("label_user_full_name").style.fontSize = "18px";

                document.getElementById("label_user_position").style.fontSize = "14px";

                document.getElementById("label_user_id").style.fontSize = "10px";
            })
        }

        fillProjectTable()
        setUserLabels()
    </script>
{% endblock %}