{% extends 'base.html' %}
{% block title %}Index{% endblock %}
{% block meta %}
<meta name="description" content="BAE Stuffz"/>
{% endblock %}
{% block body %}
    <link href="../static/css/style.css" rel="stylesheet" />
    <link href="../static/css/navbar.css" rel="stylesheet" />
    <link href="../static/css/components/navigation-links6.css" rel="stylesheet" />
    <header data-role="Header" class="mitarbeiterbersicht-projekte-header">
          <div class="mitarbeiterbersicht-projekte-nav">
            <nav
              class="navigation-links6-nav navigation-links6-root-class-name10"
            >
              <span class="navigation-links6-text1"><span style="cursor:pointer;" onclick="window.location.href='{{url_for('index')}}'">Home</span></span>
              <span class="navigation-links6-text1">
                <span style="cursor:pointer;" onclick="window.location.href='{{url_for('mainPage')}}'">Übersicht</span>
              </span>
              <span class="navigation-links6-text1">
                <span style="cursor:pointer;" onclick="window.location.href='{{url_for('createUser')}}'">Benutzererfassung</span>
              </span>
              <span class="navigation-links6-text2">
                <span style="cursor:pointer;" onclick="window.location.href='{{url_for('createProject')}}'">Projekterfassung</span>
              </span>
              <span class="navigation-links6-text3">
                <span style="cursor:pointer;" onclick="window.location.href='{{url_for('createCustomer')}}'">Kundenerfassung</span>
              </span>
              <span class="navigation-links6-text-logout" style="margin-left: 120px;">
                <span style="cursor:pointer;" onclick="$.cookie('token', null, { path: '/' }); window.location.href='{{url_for('index')}}';">Logout</span>
              </span>
            </nav>
          </div>
        </header>
{% endblock %}