{% extends 'base.html' %}
{% block title %}Index{% endblock %}
{% block meta %}
<meta name="description" content="BAE Stuffz"/>
{% endblock %}
{% block body %}
    <link href="../static/css/style.css" rel="stylesheet" />
    <link href="../static/css/navbar.css" rel="stylesheet" />
    <link href="../static/css/components/navigation-links6.css" rel="stylesheet" />
    <header data-role="Header" class="mitarbeiterbersicht-projekte-header">
          <div class="mitarbeiterbersicht-projekte-nav">
            <nav
              class="navigation-links6-nav navigation-links6-root-class-name10"
            >
              <span class="navigation-links6-text"><span>Home</span></span>
              <span class="navigation-links6-text1">
                <span>Projektübersicht</span>
              </span>
              <span class="navigation-links6-text2">
                <span>Projekterfassung</span>
              </span>
              <span class="navigation-links6-text3">
                <span>Kundenerfassung</span>
              </span>
            </nav>
          </div>
        </header>
{% endblock %}