{% extends 'navbar.html' %}
{% block title %}Index{% endblock %}
{% block meta %}
    <meta name="description" content="BAE Stuffz"/>

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Open Sans;
        font-size: 18px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.55;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"
      data-tag="font"
    />
    <style>
      html {
      scroll-behavior: smooth;
      }
    </style>
{% endblock %}
{% block body %}
    {{ super() }}
    <div class="vc">
        <h1 id="project_title">Projekt []</h1>
        <div class="hc" style="width:100%;">
            <div class="vc" style="width: 40%; margin-right: 50px; margin-left: 50px;">
                <table>
                    <tr>
                        <td>
                            <label>Kunde:</label>
                        </td>
                        <td>
                            <label id="customer"></label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Startdatum:</label>
                        </td>
                        <td>
                            <label id="date_start"></label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Enddatum:</label>
                        </td>
                        <td>
                            <label id="date_end"></label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Priorität:</label>
                        </td>
                        <td>
                            <label id="priority"></label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Budget:</label>
                        </td>
                        <td>
                            <label id="budget"></label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Angelegt von:</label>
                        </td>
                        <td>
                            <label id="created_by"></label>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="vc" style="width: 40%; margin-left: 50px;">
                <h3>Benutzer hinzufügen:</h3>
                <div class="hc">
                    <select id="users_add">

                    </select>
                    <button class="submit" onclick="add_user()">
                        +
                    </button>
                </div>
                <br>
                <h3>Benutzer entfernen:</h3>
                <div class="hc">
                    <select id="users_remove">

                    </select>
                    <button class="submit" onclick="remove_user()">
                        -
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script defer>
        build_project_page();
    </script>
{% endblock %}